@import 'nib'

link-color = #003dff

h1
  text-align center
  border-radius 3px

.pull-right
  float right

.pull-left
  float left

a, a:visited
  hover-color = #1368e7

  color link-color
  text-decoration none

  display inline-block
  margin-bottom: 1px
  border-bottom 1px solid link-color

  &:hover
    color hover-color
    border-bottom 1px solid hover-color

  &.flash
    animation flash 1.0s ease-in

@keyframes flash
  0%
    color: yellow
  100%
    color: link-color

.app-footer
  fixed bottom
