@import 'nib'

link-color = #003dff
orangina = #f24730
app-footer-height = 20px

body
  height 100%
  background-image url('/img/crisp_paper_ruffles.png')
  font-family 'PT Sans' sans-serif
  margin-bottom app-footer-height

h1
  color orangina
  font-size 3.5em
  font-family 'Lobster Two', cursive
  text-shadow 1px 1px rgba(black, 0.5)
  text-align center
  margin-top 0
  margin-bottom 20px

h2
  font-size 2em
  margin-bottom 10px

.banner
  background-color rgba(250,206,162,0.5)
  width 70%
  max-width 500px
  margin 30px auto 10px auto
  padding 30px
  overflow hidden

  .subtitle
    width 90%
    margin auto
    text-align center

a, a:visited
  hover-color = #1368e7

  color link-color
  text-decoration none

  display inline-block
  margin-bottom 1px
  border-bottom 1px solid link-color

  &:hover
    color hover-color
    border-bottom 1px solid hover-color

  &.flash
    animation flash 1.0s ease-in

@keyframes flash
  0%
    color yellow
    border-bottom 1px solid yellow
  100%
    color link-color
    border-bottom 1px solid link-color

.app-footer
  width 100%
  height app-footer-height
  background-color rgba(white, 0.5)

  ul
    list-style none
    padding 0
    margin 0 5px

    opacity 0.5
    transition opacity 0.3s ease-out
    &:hover
      opacity 1

    li
      float left
      width 33.33%
      text-align center

      &:first-child
        text-align left
      &:last-child
        text-align right

  fixed bottom

/*
  Position Styles
  Styles that semantically change position of elements.
*/

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center
