// Styles for code and examples displayed in slides.
@import 'nib'

// Variables
code-width = 600px
border-color = #ccc
focused-border-color = black

/*
  Code Mirror
  Styles for the Code Mirror regions.
*/
.CodeMirror
  width code-width
  background-color rgba(#fdfdfd, 0.5)
  border-radius 5px 5px 0 0
  padding 2px 4px

  border-top 1px solid border-color
  border-right 1px solid border-color
  border-left 1px solid border-color

.no-toolbar .CodeMirror
  border-radius 5px
  border 1px solid border-color

.CodeMirror-scroll
  height auto

.CodeMirror-gutter
  background-color rgba(white, 0.5)
  border-right 1px solid border-color

.CodeMirror-lines .error
  background-color rgba(red, 0.2)

/*
  Code View
  The view that wraps the Code Mirror and Code Toolbar views.

  .focused - Highlight the border of the view when its focused.
*/

.code-view.focused .CodeMirror
  border-color focused-border-color

.code-view.wiggle
  background-color red

/*
  Code Toolbar
  The toolbar below a Code Mirror view. Contains buttons and output relevant to
  the code view.

  .focused - Highlight the borders when focused.
*/
.code-toolbar
  text-color = #888

  // Extra width is due to CodeMirror adjusting width.
  width code-width + 8px
  font-size 0.8em
  clearfix()
  background-color rgba(#fdfdfd, 0.5)
  border 1px solid border-color
  border-radius 0 0 5px 5px
  overflow hidden

  .messages
    width 470px
    padding-left 5px
    color text-color
    float left
    border-right 1px solid border-color
    word-break break-all

    &.error
      background-color rgba(red, 0.2)
      color darken(red, 30%)

  .buttons
    float right
    padding 0 5px
    text-align center
    a
      color text-color
      line-height 0.9em
      border none

      &:hover
        border-bottom 1px solid text-color

  &.focused
    border-color focused-border-color
    border-top: 1px solid text-color
