// Styles for code and examples displayed in slides.
@import 'nib'

// Variables
code-width = 550px
code-background-color = rgba(#fdfdfd, 0.5)
border-color = #ccc
focused-border-color = black
subtle-text-color = #888
code-z-index = 100

/*
  Code Editor and Example View
*/
.code-and-example
  clearfix()

/*
  Code and Status Bar
  Contains the code view and its status bar.

  .focused - When the view becomes focused, we hide some elements.
*/
.code-and-status-bar
  // Just in case a code example ends up on top of the code view.
  z-index code-z-index
  // Account for padding
  width code-width + 10px
  position relative
  float left

  &.javascript
    .code-view:after
      content 'JavaScript'

  &.coffeescript
    .code-view:after
      content 'CoffeeScript'

.code-and-status-bar.focused
  .CodeMirror
    border-color focused-border-color

  &.coffeescript
    .code-view:after
        display none

  // Don't highlight the border or show the cursor so the user doesn't think
  // they can edit.
  &.javascript
    .CodeMirror
      border-color border-color

    .CodeMirror-cursor
      display none

  .code-toolbar
    &.focused:not(.javascript)
      border-color focused-border-color
      border-top: 1px solid border-color


/*
  Code Mirror
  Styles for the Code Mirror regions.
*/
.CodeMirror
  width code-width
  background-color code-background-color
  border-radius 5px 5px 0 0
  padding 2px 4px

  border-top 1px solid border-color
  border-right 1px solid border-color
  border-left 1px solid border-color

.no-toolbar .CodeMirror
  border-radius 5px
  border 1px solid border-color

.CodeMirror-scroll
  height auto

.CodeMirror-gutter
  background-color rgba(white, 0.5)
  border-right 1px solid border-color

.CodeMirror-lines .error
  background-color rgba(red, 0.1)

/*
  Code View
  The view that wraps the Code Mirror view.

  .focused    - Highlight the border of the view when its focused.
  .javascript - Hide the cursor when in JavaScript mode since they can't edit.
*/

.code-view
  &:after
    font-size 0.8em
    position absolute
    top 0
    right 0

    border-radius 0 5px 0 5px
    border 1px solid border-color
    padding 0 5px

    color subtle-text-color

/*
  Code Toolbar
  The toolbar below a Code Mirror view. Contains buttons and output relevant to
  the code view.

  .focused - Highlight the borders when focused.
*/
.code-toolbar
  buttons-width = 120px
  overflow hidden

  font-size 0.8em
  background-color rgba(#fdfdfd, 0.5)
  border 1px solid border-color
  border-radius 0 0 5px 5px

  .messages
    max-width code-width - 105
    padding-left 5px
    color subtle-text-color
    float left
    word-break break-all

    &.error
      background-color rgba(red, 0.2)
      color darken(red, 30%)

  .buttons
    float right
    padding 0 5px
    text-align center

    a
      color subtle-text-color
      padding 0 8px

      border-bottom none
      border-left 1px solid border-color

      &:hover
        text-decoration underline

/*
  Fake Code
  The fake code view that is shown instead of the code view.
*/
.fake-code
  fake-code-height = 150px
  height fake-code-height

  background-color rgba(code-background-color, 0.5)
  border-radius 5px

  color #ccc
  font-size 3em
  text-align center
  line-height fake-code-height

/*
  Squid
  The squid example view, which will be modified by the user in the code
  exapmles.
*/

.squid
  overflow hidden
  display inline-block

  max-width 1000px
  max-height 1000px

  position relative
  float right

  border 1px solid black
  font-size 0.8em

  transition all 0.3s ease-in-out

  img
    margin auto
    display block

  tr
    background-color #ccc
    border-top 1px solid #ccc
  tr:nth-child(odd)
    background-color #eee
  td
    padding 0
    overflow hidden
    word-break break-all
    &:first-child
      padding 0 4px
    &:not(:first-child)
      border-left 1px solid #888
      padding 0 8px

    &.label
      min-width 35px

/*
  Log View
  A logger area that shows log messages from the code area.
*/

.log
  float right
  width 150px

  header
    clearfix()

  h4
    float left
    font-size 0.7em
    font-weight normal
    color subtle-text-color
    margin 0
    padding 0

  a
    font-size 0.7em
    color subtle-text-color
    border-bottom none
    &:hover
      color subtle-text-color

  &.expanded
    float none
    width code-width + 10px

.log-area
  height auto
  min-height 30px
  max-height 150px
  overflow auto
  display block
  margin 0

  background-color code-background-color
  border 1px solid border-color
  border-radius 5px

  font-size 0.8em
