@import 'nib'

slide-background-color = rgba(250,206,162,0.5)

/*
  Slides
  The overview of slides shown on the homepage.
*/

ul.slide-list
  list-style none

  width 80%
  margin 0 auto

  clearfix()

  > li
    float left
    padding 0
    margin 0
    width 250px
    height 200px

/*
  Slide
  The entire slide page, including its controls.
*/

.slide-container
  height 500px

/*
  Slide Container
  The container that holds a single slide.
*/
.slide-background
  // From http://subtlepatterns.com/medic-packaging-foil/
  background-image url('/img/foil.png')

/*
  Slide Content
  The inner portion of the slide containing all of the content.
*/

.slide
  background-color slide-background-color

  border-radius 0 0 5px 5px
  margin 3px 4px 8px 4px
  box-shadow 0 0 0px 1px rgba(0,0,0,0.3),
             0 0 0px 5px white,
             0 5px 4px black

  h1
    width 100%
    background-color rgba(255,255,255,0.4)
    padding 10px 0
    border-bottom: 1px solid rgba(0,0,0,0.2)

  ul
    li
      font-size 28px
      font-size 1.8em
      line-height 48px
      &.small
        font-size 1.0em

  &.preview
    fake-width = 800px
    fake-height = 500px
    // The psuedo height and width so the slides render their content
    width fake-width
    height fake-height

    transform scale(0.3) translate((-1 * fake-width), (-1 * fake-height))
    overflow hidden

    box-shadow 0 0 5px 5px black

    &.flash
      animation flash 1.0s ease-in

    &:hover
      cursor pointer


@keyframes flash
  0%
    box-shadow 0 0 5px 10px yellow
  100%
    box-shadow 0 0 5px 5px black

/*
  Slide-Specific Styles
  Styles that apply to only a single slide.
*/

.floating-because
  font-size 2em

.because-target
  //margin-left 80px
  //list-style none
  position relative

/*
  Slide Controls
  The controls that appear above all single slides.
*/
.slide-controls
  background-color rgba(255,255,255,0.5)

  padding 10px 0
  margin 0
  width 100%
  clearfix()

  list-style none

  opacity 0.5
  transition opacity 0.3s ease-out

  &:hover
    opacity 1

  li
    float left
    width 20%
    text-align center
    &:first-child
      text-align left
      width 40%
    &:last-child
      text-align right
      width 40%

  a
    margin 0 10px

