@import 'nib'

slide-background-color = rgb(250,206,162)
slide-width = 768px
slide-margin = 4px

/*
  Slide List
  The small set of slides shown on the homepage.
*/

ul.slide-list
  list-style none

  width 80%
  margin 0 auto

  clearfix()

  > li
    float left
    padding 0
    margin 0
    width 250px
    height 200px

/*
  Slide
  The body of a single slide.
*/

.slide
  width slide-width
  margin 0 auto
  clearfix()

  h1
    max-width slide-width - slide-margin
    background-color rgba(white, 0.4)
    padding 10px 0
    border-bottom: 1px solid rgba(black, 0.2)

  p
    margin 10px 0

  ul
    list-style-type none

    // Custom Bullets
    li:before
      content ">"
      color #999
      margin-right 20px

    li
      font-size 28px
      font-size 1.8em
      margin 18px 0
      &.small
        font-size 1.0em

  .subtle
    font-size 0.8em
    a
      color #999
      border-color #999

  footer
    padding 5px 10px

.slide-content
  margin 10px 20px

/*
  Slide-Specific Styles
  Styles that apply to only a single slide.
*/

.sane
  margin-top 20px
  margin-bottom -10px

// Put checkmarks after all of the bullets in this list.
.slide ul.check-em li:after
  content '✓'
  margin-left 20px

/*
  Slide Controls
  The controls that appear above all single slides.
*/
.slide-controls
  background-color rgba(white, 0.5)
  padding 0
  margin 0 auto

  width slide-width
  clearfix()

  list-style none

  opacity 0.5
  transition opacity 0.3s ease-out

  &:hover
    opacity 1

  li
    float left
    padding 10px 0
    text-align center
    width 20%

    &:first-child
      text-align left
      width 40%
    &:last-child
      text-align right
      width 40%
    &:hover
      cursor pointer
      a
        font-weight bold
        animation under-jiggle 0.4s ease-in-out

.slide-controls a
  display inline
  margin 0 10px

@keyframes under-jiggle
  0%
    box-shadow 0 1px 0px -1px black
  50%
    box-shadow 0 3px 0px -1px black
  100%
    box-shadow 0 1px 0px -1px black


/*
  Slide Content Container
  The container for the slide, which contains the overlay color for the slide.

  .preview - The smaller version of the slide with certain details toned
             down for the homepage.
*/

.slide-container
  min-width slide-width - slide-margin
  background-color rgba(slide-background-color, 0.5)
  margin 3px slide-margin 8px slide-margin
  border-radius 0 0 5px 5px
  box-shadow 0 0 0px 1px rgba(black, 0.3),
             0 0 0px slide-margin+1 white,
             0 slide-margin+1 4px black

  &.preview
    // Overlay to keep the user from interacting with the thumbnails.
    &:before
      content ''
      background-color transparent
      position fixed
      z-index 10
      display block
      width 100%
      height 100%

    // Give the appearnce of the same color as the transparent one used above.
    // We do this since we don't show the background texture in the preview.
    background-color lighten(slide-background-color, 30%)

    // Fixed height and width so the slides render their content.
    fixed-height = 500px
    height fixed-height

    transform scale(0.3) translate((-1 * slide-width), (-1 * fixed-height))
    overflow hidden

    box-shadow 0 0 5px 5px black

    &.flash
      animation flash 2.0s ease-in

    &:hover
      cursor pointer

    // Override the dynamic slide width for the preview.
    .slide
      width 100%

@keyframes flash
  0%
    box-shadow 0 0 5px 10px yellow
  100%
    box-shadow 0 0 5px 5px black


/*
  Slide Background
  A wrapper around the slide to contain the background image so the tint can be
  changed in the overlay container.
*/
.slide-background
  min-width slide-width
  // From http://subtlepatterns.com/medic-packaging-foil/
  background-image url('/img/foil.png')

.application.wiggle-left .slide-background
  position relative
  animation wiggle-left 0.5s ease-in-out

.application.wiggle-right .slide-background
  position relative
  animation wiggle-right 0.5s ease-in-out

first-offset = -30px
second-offset = 10px

@keyframes wiggle-left
  25%
    margin-left first-offset
  50%
    margin-left second-offset

@keyframes wiggle-right
  25%
    margin-right (first-offset * -1)
  50%
    margin-right (second-offset * -1)
