<img class="derpy-squid" src="img/squid.svg"></img>
<table class="caption">
  <tbody>
    <tr>
      <td class="label">Name</td>
      <td>{{view.name}}</td>
    </tr>
    <tr>
      <td class="label">Phlyum</td>
      <td>{{view.phylum}}</td>
    </tr>
  </tbody>
</table>
