<ul>
  <li><a href="http://thenounproject.com/noun/octopus/#icon-No4005"
    target="_blank">Octopus</a> from The Noun Project
  </li>
  <li><a href="http://en.wikipedia.org/wiki/Jeremy_Ashkenas">Jeremy Ashkenas
    </a> for making CoffeeScript</li>
  <li>The <a href="http://emberjs.com/">Ember.js</a> team for making building
  this presenation effortless</li>
</ul>
