<ul>
  <li>The <a href="http://emberjs.com/">Ember.js</a> team for making building
    this presentation effortless
  </li>
  <li><img class="derpy-squid-small" src="img/squid.svg"/>
      by <a href="http://twitter.com/amyshropshire" target="_blank">
        Amy Shropshire</a>
  </li>
  <li><a href="http://en.wikipedia.org/wiki/Jeremy_Ashkenas">Jeremy Ashkenas
    </a> for making CoffeeScript</li>
  <li><a href="http://codemirror.net/">CodeMirror</a> for making the code editing
    and possible
  </li>
</ul>
