<ul>
  <li>Want more Ember?</li>
  <li>This presentation was created with Ember!</li>
  <li>Go  <a href="https://github.com/mutewinter/why_ember">check it out on
    GitHub</a></li>
</ul>

{{#view App.NotesView}}
  <p>
    Here's some cool things you should look for in the code:
  </p>
  <ul>
    <li>SlideContentView automatically substitutes its template for the one
    declared in the Slide model.
    </li>
    <li>The &#123;{code}} Handlebars helper and how arguments can be passed to
    it to customize it.
    </li>
    <li>The CodeView and CodeToolbarView use CodeMirror to display code and
    dynamic error messages you type.
    </li>
    <li>The Slide templates are rendered on the homepage using a custom bit of
    CSS to shrink and mask them. Also check out how the preview property is
    used to keep the code from being executed on the homepage.
    </li>
  </ul>
{{/view}}
