<ul>
  <li>Automatically polyfilled to older browsers</li>
  <li>Available on the Native Array Object</li>
  <li>
  map {{documentation "Ember.NativeArray.html#method_map"}}
  reduce {{documentation "Ember.NativeArray.html#method_reduce"}}
  filter {{documentation "Ember.NativeArray.html#method_filter"}}
  </li>
</ul>
{{#code exampleViewClassName="App.LogView" isExpanded=true}}
data = [0..10]

log 'Starting Data', data
log 'Multiplied by two', data.map((i) -> i * 2)
log data.reduce(
  (sum, i) -> sum += i
, 0)
log 'Even Values', data.filter((i) -> i % 2 == 0)
{{/code}}
