<ul>
  <li>String Manipulation</li>
  <li>Array Comprehensions (doc link here)</li>
  <li>Run Loop <a class="docs" href="http://emberjs.com/omgbbq">Docs</a></li>
  <li>w Function</li>
  <li>Ember.typeOf</li>
  <li>Ember.K</li>
  <li>String.fmt</li>
</ul>
