<ul>
  <li>The code samples throughout this presenation are interactive. </li>
  <li>Try moving the squid below by changing the values.</li>
</ul>

{{#code height=150}}
@squidView.set('name', 'Dynamic Squid')
@squidView.set('phylum', 'Dynamusoptimus')
{{/code}}
