<ul>
  <li>The code samples in this presentation are interactive</li>
  <li>The code is written in <a href="http://coffeescript.org/">CoffeeScript</a></li>
  <li>And can be viewed in JavaScript</li>
  <li>Mess with the code below to change the Squid</li>
</ul>

{{#code height=150}}
@squidView.set('name', 'Dynamic Squid')
@squidView.set('phylum', 'Magicalitus')
@squidView.set('x', 10)
@squidView.set('imageWidth', 80)
@squidView.set('imageHeight', 80)
@squidView.set('backgroundColor', 'salmon')
{{/code}}
