<ul>
  <li>The code samples in this presentation are interactive</li>
  <li>The code is written in <a href="http://coffeescript.org/">CoffeeScript</a></li>
  <li>And can be viewed in JavaScript</li>
  <li>Try editing the code below and see how it affects the page.</li>
</ul>

{{#code hasExampleView=false}}
# Change Slide Background Color to Blue
$('.slide-container').css('background-color': 'rgba(0,50,100,0.25)')
# Change Heading Color to Dark Blue
$('.slide h1').css(color: 'darkBlue')
# Change Link Style
$('.slide li a').css
    'border-bottom-style': 'double'
    'border-bottom-width': '4px'
    'border-bottom-color': '#1975E9'
{{/code}}

{{#view App.NotesView}}
  <p>
    There are code samples, you should play with them liberally. It's also a
    great way to learn CoffeeScript. You can reset all of the samples with a
    handy reset button that appears once you edit them. If you _really_ break
    something, just refresh the browser.
  </p>
{{/view}}
