<ul>
  <li>Always up to date</li>
  <li>Cached intelligently</li>
  <li>Chainable</li>
</ul>

{{#code height=150}}
@squidView.setProperties
  name: 'Small Fry'
  phylum: 'Derpinsmall'

@squidView.set('imageSize', 50)
{{/code}}
