<ul>
  <li>Always up to date</li>
  <li>Cached Intelligently</li>
  <li>Chainable</li>
</ul>

{{#code exampleViewClassName="App.ComputedSquidView" height=150}}
@exampleView.set('imageSize', 50)
{{/code}}
