<ul>
  <li>Fancy-speak for Automatically Updating Templates</li>
  <li>Try it Out, Change the Squid</li>
</ul>

{{#code exampleViewClassName="App.SquidView" height=150}}
@exampleView.set('name', 'Dynamic Squid')
@exampleView.set('phylum', 'Magicalitus')
@exampleView.set('x', 10)
@exampleView.set('imageWidth', 80)
@exampleView.set('imageHeight', 80)
@exampleView.set('backgroundColor', 'salmon')
{{/code}}
