<ul>
  <li>Fancy-speak for Automatically Updating Templates</li>
  <li>Try it Out, Change the Squid</li>
</ul>

{{#code exampleViewClassName="App.SquidView" height=150}}
squidView.set('name', 'Dynamic Squid')
squidView.set('phylum', 'Magicalitus')
squidView.set('x', 10)
squidView.set('backgroundColor', 'salmon')
squidView.imageSize(80)
{{/code}}

{{#view App.NotesView}}
  <p>
    Data binding is another thing you don't want to have to do manually. Doing
    your data binding by hand using jQuery means you need extra class
    declaration that don't match your CSS. It also means that you need to worry
    about whether the .text() method or the .html() method are safe for
    user-generated output.
    </p>
  <p>
    SquidView is the view that backs this example. It's located here
    app/views/examples/squid.coffee. I encourage you to go browse the code and
    see how simple setting up these binds was.
  </p>
{{/view}}
