<ul>
  <li>Fancy-speak for Automatically Updating Templates</li>
  <li>Try it Out, Change the Squid</li>
</ul>

{{#code exampleViewClassName="App.SquidView" height=150}}
squidView.set('name', 'Dynamic Squid')
squidView.set('phylum', 'Magicalitus')
squidView.set('x', 10)
squidView.set('imageWidth', 80)
squidView.set('imageHeight', 80)
squidView.set('backgroundColor', 'salmon')
{{/code}}
