<h1>Eliminates Dependancies</h1>

<ul class="check-em">
  <li>Array Comprehensions?</li>
  <li>Attribute Binding?</li>
  <li>Class Binding?</li>
  <li>Classes and Mixins?</li>
  <li>Run Loop?</li>
  <li><strong>Tested?</strong></li>
</ul>
