<ul>
  <li>I'm going too slow?</li>
  <li>Didn't catch that?</li>
  <li>Want to play with the code?</li>
  <li>Open <a
    href="http://mutewinter.github.com/why_ember">http://mutewinter.github.com/why_ember</a>
  and follow along</li>
  <li><a href="http://git.io/iYTHAg">http://git.io/iYTHAg</a> for short</li>
</ul>

{{#view App.NotesView}}
  <p>
    How meta. This only really applies when I'm presenting this presenation
    to you in person. Otherwise you're already on this page. Reading this text.
    In your web browser. Hello.
  </p>
{{/view}}
