<ul>
  <li>I'm going to slow?</li>
  <li>Didn't catch that?</li>
  <li>Want to play with the code?</li>
  <li>Open <a
    href="http://mutewinter.github.com/why_ember">http://mutewinter.github.com/why_ember</a>
  and follow along</li>
  <li><a href="http://git.io/iYTHAg">http://git.io/iYTHAg</a> for short</li>
</ul>
