<h2>Ember.Object.extend</h2>
{{#code}}
# Define the Class with Instance Methods
Squid = Ember.Object.extend()

# Now we make a class method.
Squid.reopenClass
squidBuilder: (color, wants) ->
    Squid.create(color: color, wants: wants)

blackSquid = Squid.squidBuilder('green', 'to derp less')
{{/code}}

<h2>Ember.Object.create</h2>
{{#code}}
# Skip Straight to an Object Instance
blackSquid = Ember.Object.create(
  color: 'black'
  wants: 'to be a potato'
)

blackSquid.get('color') # 'black'
{{/code}}

<footer class="sane subtle text-center">
  <a href="http://www.youtube.com/watch?v=AkjcxlAuyLI&t=12m22s">
    What do you mean "sane"?
  </a>
</footer>
