<h3>Nope, just Ember.</h3>

<code class="block">
OceanAnimals = Ember.Object.extend
  phylum: -&gt;
    'Phylum is '

Squid = OceanAnimals.extend
  phylum: -&gt;
    @_super + ' what is a phylum'

Squid.create().phylum() # Phylum is what is a phylum
</code>
