<ul>
  <li>Integrates into Ember Views Seemlessly</li>
  <li>UI Widgets Work Better in Ember</li>
  <li>
    Wrapper Libraries Already
    <a href="https://github.com/emberjs-addons/ember-bootstrap">Being</a>
    <a href="https://github.com/lukemelia/jquery-ui-ember">Made</a>.
  </li>
  <li></li>
  <li></li>
</ul>
