<ul>
  <li>Integrates with Ember Views Seamlessly</li>
  <li>UI Widgets Work Better in Ember</li>
  <li>Simple Callback System</li>
  <li>Wrapper Libraries Already
    <a href="https://github.com/emberjs-addons/ember-bootstrap">Being</a>
    <a href="https://github.com/lukemelia/jquery-ui-ember">Made</a>
  </li>
</ul>

<p>
  Here's a Sample Integration with <a
  href="http://timeago.yarp.com/">timeago</a>, a jQuery plugin
</p>
{{#code exampleViewClassName="App.ExampleContainerView"}}
childView = Ember.View.create
  template: Ember.Handlebars.compile(
    '&lt;time &#123;{bindAttr datetime="view.timeString"}}&gt;
      Right Now
    &lt;/time&gt;')

  didInsertElement: -> @$('time')?.timeago()

  timeString: new Date().toUTCString()


containerView.get('childViews').pushObject childView
{{/code}}

{{#view App.NotesView}}
  <p>
    Ember enables you to use any third party JavaScript you might desire by
    giving you callbacks into the view's life cycle. All you need to do is
    listen to those callbacks and setup and tear down any extra JavaScript
    functionality of which Ember isn't aware.
  </p>
{{/view}}
