<h2 class="text-center">
  “A Framework for Creating Ambitious Web Applications”
</h2>

<ul>
  <li>An All-Inclusive JavaScript MVC Framework</li>
  <li>9,000 Lines of Code</li>
  <li>9,200 Lines of Inline Documentation</li>
  <li>2,133 Unit Tests</li>
  <li>Currently Release 1.0.0-PRE.2</li>
</ul>

{{#view App.NotesView}}
  <p>
    Ember is a serious framework. External code dependencies beyond jQuery are
    unnecessary. It's written by a team, that is currently being paid to write
    Ember. It's still in Pre-release, but let the stability of this
    presentation be a testament to the quality of the code.
  </p>
{{/view}}
