<h1>Why Ember?</h1>
<ul class="because-target">
  <span class="floating-because">Because...</span>
  <li>Automatically Updating Templates</li>
  <li>Computed Properties</li>
  <li>Bound Attributes</li>
  <li>You Don't Know How to Make a Class</li>
  <li>You Really Don't Know How to Make a Mixin</li>
  <li>Backbone is like 14 Lines of Code</li>
  <li class="small">Because fuck you if you need more reasons.</li>
</ul>
