<div {{bindAttr class=":messages view.hasError:error"}}>
  {{view.errorMessage}}
</div>
<div class="buttons">
  <a {{action switchLanguage target="view"}} href="#">
    {{view.switchText}}
  </a>
</div>
