<h1>{{content.length}} Slides</h1>
{{#collection contentBinding="content" tagName="ul" itemTagName="li"}}
  {{#with view.content as slide}}
    <a {{action showSlide slide href=true}}
      {{bindAttr class="slide.isLastShownSlide:flash"}}>
      {{slide.name}}
    </a>
  {{/with}}
{{/collection}}
