<div class="slide-controls">
  <a {{action previousSlide}} href="#">Prevoius Slide</a>
  <a {{action nextSlide}} href="#" class="pull-right">Next Slide</a>
</div>
<h1>{{content.name}}</h1>
<div class="slide-position">
  {{view.slidePositionText}}
</div>
