<div class="banner">
  <h1>Why Ember?</h1>
  <div class="subtitle">
    Why should I use Ember.js? JavaScript MVC frameworks are plentiful. In this
    presentation I will give you some compelling reasons to consider Ember.
  </div>
</div>
{{#collection class="slide-list" contentBinding="content" tagName="ul" itemTagName="li"}}
  {{#with view.content as slide}}
    <div {{action showSlide slide href=true}}
      {{bindAttr class="slide.isLastShownSlide:flash"}}>
      {{view App.SlidePreviewView contentBinding="slide"}}
    </div>
  {{/with}}
{{/collection}}
<span class="pull-right">{{content.length}} Slides</span>

